<div class="container mt-5">
    <h1 class="mb-4 p-3" style="background-color: #0ae98a; color: white; border-radius: 5px;">Jovenes Emprendedores Colombianos</h1>
    <div class="row">
        <div class="col-2 mb-4" *ngFor="let emprendedor of emprendedores">
            <div class="card h-100" (click)="seleccionarEmprendedor(emprendedor)" style="cursor: pointer; border: 3px solid #0ae98a;">
                <img [src]="emprendedor.foto_url" class="card-img-top" alt="{{ emprendedor.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ emprendedor.nombre }}</h5>
                    <p class="card-text">
                        <strong>Género:</strong> {{ emprendedor.genero }}<br>
                        <strong>Pregrado:</strong> {{ emprendedor.pregrado }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info mt-4">
        <strong>Total de emprendedores:</strong> {{ totalEmprendedores }}
    </div>
</div>